html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
}

.button {
  color: white;
  display: block;
  font-size: 17px;
  float: left;
  height: 100%;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

.navbar {
  background: #3B3B3B;
  height: 3em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100%;
}

section { 
  background: #FAFAFA;
  box-sizing: border-box;
  display: block;
  height: 100vh;
  padding: 5em;
  width: 100%;
}

